#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
}

/* BODY */
.subtitle {
  font-size: 1.2rem;
}

/* FOOTER */
.modal-btn {
  position: relative;
  background-color: rgb(153, 214, 153);
  border: none;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-left: 14.2rem;
  width: 5rem;
  height: 2rem;
  font-weight: 600;
  color: #2c3e50;
  outline: none;
}

.modal-btn:hover {
  cursor: pointer;
  background-color: rgb(106, 180, 106);
  color: white;
}

/* MODAL CLOSED */
.open-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.money {
  width: 200px;
}